@model MockApplication.Data.SalesOrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SalesOrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalesOrderHeaderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesOrderHeaderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesOrderDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
